[submodule "tmux/tmux-powerline"]
	path = tmux/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "exenv"]
	path = exenv
	url = git://github.com/mururu/exenv.git
