[user]
  name = tett23
  email = tett23@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = vim
  pager = LESS=-R less
  filemode = false
[alias]
  tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
  co = checkout
  ci = commit
  cia = commit -a
  df = diff --ignore-space-change
  dfc = diff --cached --ignore-space-change
  st = status
  wd = diff --word-diff
  ld = log --stat -p
  cl = commit -av
  lgraph = log --oneline --graph --decorate --all
  oneline = log --pretty=oneline
  logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
  lgraph2 = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'
  gr = grep -n -c --color -p
  br = branch
  bra = branch -a
  cob = checkout -b
  lop = log -p --ignore-space-change
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
  lsf = ls-files
  today = log --since=midnight --author='$(git config user.name)' --oneline

[log]
  date = local
[merge]
  tool = vimdiff
[branch "master"]
  rebase = true
[branch]
  autosetuprebase = always
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[diff "json"]
  textconv = "perl -MJSON -0e \"print JSON->new->canonical->pretty->encode(decode_json(<>))\""
[mergetool]
  prompt = true
[grep]
  lineNumbers = true
[push]
  default = tracking
[pull]
  rebase = true

[color]
  ui = auto
[color "branch"]
  current = red
  local = yellow
  remote = magenta
[color "diff"]
  whitespace = white reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan reverse
  branch = magenta
