"*":
  "autocomplete-ruby":
    rsensePath: "~/.rvm/gems/ruby-2.2.2/bin/rsense"
  core:
    disabledPackages: [
      "javascript-snippets"
      "autocomplete-snippets"
      "snippets"
    ]
    telemetryConsent: "no"
  editor:
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "f4cd12c3-6c2e-4b81-bd21-0e2dbd8fa97b"
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "/Users/tett23/.nvm/versions/node/v8.4.0"
  "linter-rubocop":
    command: "/Users/tett23/.rvm/gems/ruby-2.4.0/bin/rubocop"
  "linter-ui-default":
    panelHeight: 170
    showPanel: true
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
    rubocopCommandPath: "/Users/tett23/.rvm/gems/ruby-2.4.0/bin/rubocop"
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
