"*":
  "atom-beautify":
    rust:
      beautify_on_save: true
      rustfmt_path: "/Users/tett23/.cargo/bin/rustfmt"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "autocomplete-ruby":
    rsensePath: "~/.rvm/gems/ruby-2.2.2/bin/rsense"
  core:
    disabledPackages: [
      "javascript-snippets"
      "autocomplete-snippets"
      "snippets"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 15
    lineHeight: 1.2
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "f4cd12c3-6c2e-4b81-bd21-0e2dbd8fa97b"
  "linter-eslint":
    fixOnSave: true
    globalNodePath: "/Users/tett23/.nvm/versions/node/v8.4.0"
  "linter-rubocop":
    command: "/Users/tett23/.rvm/gems/ruby-2.4.0/bin/rubocop"
  "linter-rust":
    cargoPath: "/Users/tett23/.cargo/bin/cargo"
    rustcPath: "/Users/tett23/.cargo/bin/rustc"
  "linter-ui-default":
    panelHeight: 170
    showPanel: true
  racer:
    racerBinPath: "/Users/tett23/.cargo/bin/racer"
    rustSrcPath: "/Users/tett23/.rustup/toolchains/nightly-x86_64-apple-darwin/lib/rustlib/src/rust/src"
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
    rubocopCommandPath: "/Users/tett23/.rvm/gems/ruby-2.4.0/bin/rubocop"
  "vim-mode-plus": {}
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
